.profile{
	display: flex;
}
.desc img{
	margin: 1rem;
}
@media screen and (min-width: 1080px){
    .profile{
    }
}
@media screen and (min-width: 1920px){
    .profile{
        padding: 0 30%;
        margin: 1.5% 0;
    }
}
