.about{}
.cv{
    display: flex;
    flex-direction: column;
}
.cv_info{
    padding: 0 1rem;
}
.cv_body{
    display: flex;
    margin-top: 3.2rem;
    background-color: white;
}
.cv_body hr{
    margin: 0 10rem;
}
.cv_data_contact{
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    color: white;
    
}
.cv_data_contact p{
    margin: 1rem;
}
.cv_data_contact p a{
    text-decoration: none;
    color: white;
}
.cv_data_contact p b{
    font-weight: 500;
    margin: 5px;
}
.cv_data_contact img{
    width: 85%;
    margin: 1rem
}
@media screen and (min-width: 1080px){
    .cv{
        margin: 0 20%;
    }
}
@media screen and (min-width: 1500px){
    .cv{
        margin: 0 30%;
    }
}